<div class="home-page-wrapper">

  <div class="home-header">
    <div class="home-header">

      <div class="txt-container">
        <span class="title">Hello! 👋</span>
        <p class="txt-secondary description">Select a base color and generate
          harmonious
          palettes
          and color scales ready to use in your designs and developments</p>
      </div>

      <div class="actions-container">
        <p-button
          label="Import from url"
          icon="pi pi-link"
          outlined>
        </p-button>
      </div>

    </div>
  </div>

  <div class="generator-palettes-wrapper">

    <!-- Palette generator -->
    <shared-palette-generator
      (paletteGenerated)="onPaletteGenerated($event)"
      (MaterialPaletteGenerated)="onMaterialPaletteGenerated($event)"></shared-palette-generator>

    @if (currentPalette.length > 0) {
    <div class="palettes-grids-wrapper">

      <!-- Palette grid -->
      @if (currentPalette.length > 0) {
      <div class="palette-grid-container">
        <div class="palette-grid-header">
          <span class="txt-h6">Palette preview</span>
          <div class="palette-grid-header-actions">
            <p-button
              ariaLabel="Add Favorite"
              icon="pi pi-star"
              outlined
              severity="secondary"
              pTooltip="Add to favorites"
              tooltipPosition="top">
            </p-button>

            <p-splitbutton
              label="Download"
              icon="pi pi-download"
              outlined
              severity="secondary"
              [model]="items">
            </p-splitbutton>
          </div>
        </div>
        <shared-palette-grid [colors]="currentPalette"></shared-palette-grid>
      </div>
      }

      <p-divider></p-divider>

      <!-- Material palette grid -->
      @if (currentMaterialPalette.length > 0) {
      <div class="palette-grid-container">
        <div class="palette-grid-header">
          <span class="txt-h6">Material palette preview (Base color)</span>
          <div class="palette-grid-header-actions">
            <p-button
              ariaLabel="Add Favorite"
              icon="pi pi-star"
              outlined
              severity="secondary"
              pTooltip="Add to favorites"
              tooltipPosition="top">
            </p-button>

            <p-splitbutton
              label="Download"
              icon="pi pi-download"
              outlined
              severity="secondary"
              [model]="items">
            </p-splitbutton>
          </div>
        </div>
        <shared-palette-grid
          [colors]="currentMaterialPalette"></shared-palette-grid>
      </div>
      }
    </div>
    }

  </div>

</div>
