.palette-generator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--p-content-border-color);
  border-radius: 8px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  flex: 1;
  gap: 1rem;
  padding: 1rem;
}


.actions-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  p-button{
    width: 100%;

    ::ng-deep .p-button {
      width: 100%;
      justify-content: flex-start;
    }
  }
}

:host ::ng-deep {
  .p-divider {
    margin: 0 !important;
    padding: 0 !important;
  }
}
