<div class="palette-generator-wrapper">
  <div class="step step-1">
    <span class="txt-h6 step-title">1. Select a base color</span>
    <shared-color-picker
      (colorChange)="onColorChange($event)"></shared-color-picker>
  </div>

  <p-divider />

  <div class="step-2">
    <span class="txt-h6 step-title">2. Select a color scheme</span>
    <shared-scheme-selector
      (schemeChange)="onSchemeChange($event)"></shared-scheme-selector>
  </div>

  <p-divider />

  <div class="step-3">
    <span class="txt-h6 step-title">3. Actions</span>
    <!-- Palettes and Scales -->

  </div>

</div>
