.palette-generator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--p-content-border-color);
  border-radius: 8px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
}

.step-2, .step-3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 0rem 1rem 1rem 1rem;
}

