
<div class="color-input-wrapper">

  <div class="color-picker-wrapper">
    <p-colorpicker class="color-picker"
      [(ngModel)]="hex"
      [style]="{ width: '100%', height: '100%' }"
      (onChange)="onHexChange()"
      (onInput)="onHexChange()"
      inputId="colorInput"
      (onChangeComplete)="onHexChange()"
      (onInputChange)="onHexChange()"
      #colorPicker>
    </p-colorpicker>
  </div>

  <div class="input-wrapper">
    <input type="text" pInputText [(ngModel)]="hex" prefix="#" />
  </div>

  <p-button
    ariaLabel="Copy"
    icon="pi pi-copy"
    outlined
    severity="secondary"
    (onClick)="copy()">
  </p-button>

</div>
